@page
@using Model
@model ExamCCI_2023.Pages.Teacher.EditModel

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher.Id" />
            <div class="form-group">
                <label class="control-label"></label>
                <input  class="form-control" name="Id" />
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Groups" class="control-label"></label>
                <select asp-for="Teacher.GroupsId" class="form-control"
                        asp-items="@(new SelectList(Model.Groups, nameof(StudentGroup.Id), nameof(StudentGroup.Label)))">
                    <option>Classe</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
